.ant-select-selector{
    background-color: #f4f4f5 !important;
    border: "none" !important;
    border: 0px !important;
    border-radius: "15px" !important;
}

.ant-select-selection-placeholder{
    color: #737373 !important;
}